In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/train.csv - train.csv.csv')

In [ ]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
train_data=pd.read_csv('/content/train.csv - train.csv.csv')
test_data=pd.read_csv('/content/test.csv')

In [ ]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
print(train_data.shape)
print(test_data.shape)

(891, 12)
(418, 11)

In [ ]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
train_data.drop('Cabin',axis=1,inplace=True)
test_data.drop('Cabin',axis=1,inplace=True)

##Missing values

In [ ]:
avg_age=train_data['Age'].mean()
train_data['Age'].replace(np.nan,avg_age,inplace=True)

avg_ages=test_data['Age'].mean()
test_data['Age'].replace(np.nan,avg_ages,inplace=True)

In [ ]:
avg_fare=test_data['Fare'].mean()
test_data['Fare'].replace(np.nan,avg_fare,inplace=True)

In [ ]:
avg_embarked=train_data['Embarked'].mode()[0]
train_data['Embarked'].replace(np.nan,avg_embarked,inplace=True)

In [ ]:
print(train_data.isnull().sum())
print(test_data.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

# dealing with categorical values

In [ ]:
train_data['Sex']=train_data['Sex'].map({'female':1,'male':0}).astype(int)
test_data['Sex']=test_data['Sex'].map({'female':1,'male':0}).astype(int)

In [ ]:
train_data['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [ ]:
train_data['Embarked']=train_data['Embarked'].map({'S':1,'C':2,'Q':3}).astype(int)
test_data['Embarked']=test_data['Embarked'].map({'S':1,'C':2,'Q':3}).astype(int)

In [ ]:
train_data.drop(['Name','Ticket'],axis=1,inplace=True)
test_data.drop(['Name','Ticket'],axis=1,inplace=True)

In [ ]:
train_data.keys()

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [ ]:
test_data.keys()

Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [ ]:
train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    0  22.0      1      0   7.2500         1
1            2         1       1    1  38.0      1      0  71.2833         2
2            3         1       3    1  26.0      0      0   7.9250         1
3            4         1       1    1  35.0      1      0  53.1000         1
4            5         0       3    0  35.0      0      0   8.0500         1

In [ ]:
dataset=[train_data,test_data]
for data in dataset:
  data.loc[data['Age']<=20,'Age']=0
  data.loc[(data['Age'] > 20) & (data['Age'] <=40),'Age']=1
  data.loc[(data['Age'] > 40) & (data['Age'] <=60),'Age']=2
  data.loc[data['Age'] > 60,'Age']=3

In [ ]:
dataset=[train_data,test_data]
for data in dataset:
  data.loc[data['Fare']<=8,'Fare']=0
  data.loc[(data['Fare'] > 8) & (data['Fare'] <=15),'Fare']=1
  data.loc[(data['Fare'] > 15) & (data['Fare'] <=31),'Fare']=2
  data.loc[data['Fare'] > 31,'Fare']=3

In [ ]:
data['Age']=data['Age'].astype(int)
data['Fare']=data['Fare'].astype(int)

In [ ]:
train_data.head()

   PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0            1         0       3    0  1.0      1      0   0.0         1
1            2         1       1    1  1.0      1      0   3.0         2
2            3         1       3    1  1.0      0      0   0.0         1
3            4         1       1    1  1.0      1      0   3.0         1
4            5         0       3    0  1.0      0      0   1.0         1

In [ ]:
test_data.head()

   PassengerId  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0          892       3    0    1      0      0     0         3
1          893       3    1    2      1      0     0         1
2          894       2    0    3      0      0     1         3
3          895       3    0    1      0      0     1         1
4          896       3    1    1      1      1     1         1

In [ ]:
xtrain=train_data.drop(['Survived','PassengerId'],axis=1).values
ytrain=train_data['Survived'].values
xtest=test_data.drop(['PassengerId'],axis=1).values

In [ ]:
print(xtrain.shape)
print(ytrain.shape)
print(xtest.shape)

(891, 7)
(891,)
(418, 7)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(xtrain,ytrain,test_size=0.2,random_state=5)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(xtrain,ytrain)

LogisticRegression()

In [ ]:
pred_train=lr.predict(xtrain)
pred_test=lr.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score
train_accuracy=accuracy_score(ytrain,pred_train)
test_accuracy=accuracy_score(ytest,pred_test)
print('training accuracy is:',train_accuracy)
print('testing acuracy is:',test_accuracy)

training accuracy is: 0.7963483146067416
testing acuracy is: 0.8268156424581006

In [ ]:
df=pd.DataFrame()
df['actual values']=ytest
df['predicted values']=pred_test

In [ ]:
df.head(10)

   actual values  predicted values
0              0                 0
1              0                 0
2              0                 0
3              1                 0
4              0                 0
5              0                 0
6              1                 1
7              1                 0
8              1                 1
9              0                 0